<div class="fadeIn">
  <app-packages-gallery></app-packages-gallery>
  <app-contact></app-contact>
  <section>
      <br/>
      <div class="card">
          <div class="card-block">
            <h2>Southwestern United States</h2>
            <p>
                The Southwestern United States (also known as the American Southwest) is the informal name for a region of the western United States. Definitions vary a great deal and have never been standardized--and many have been proposed. For example, it might include the stretch from east of Los Angeles to El Paso, and from the Mexican border to south of Denver. [2] The population for that particular definition area is around 11 million people, with over half that in the state of Arizona. The largest metropolitan areas are Phoenix (with a population over 4 million people) and Las Vegas (about 2 million); other significant population centers in the Southwest are Albuquerque, El Paso, and Tucson.
              </p>
              <p>
                Most of the area was part of the Viceroyalty of New Spain in the Spanish Empire before becoming part of Mexico. European settlement was almost non-existent outside New Mexico in 1848, when it became part of the United States through the Treaty of Guadalupe Hidalgo; far southern Arizona was added in the later Gadsden Purchase.
            </p>
            <ul>
              <li>New Mexico</li>
              <li>Arizona</li>
              <li>Utah</li>
              <li>Nevada</li>
              <li>Colorado</li>
              <li>Texas</li>
              <li>Nuevo Mexico</li>
            </ul>
          </div>
        </div>
    <br/>
    
  </section>
</div>